@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #f3f5f8;

}
.card {
    background-color: #ffffff;
}
.card .card-body .card-img img {
    width: 200px;
    height: 500px;
    margin-left: 38%;

}
.tilte{
    text-align: center;
    margin-top: -20%;
    padding-bottom: 20%;
   
}
.card .card-body .nav .nav-item .nav-link:hover{
    background-color: aliceblue;
   border-radius: 10px;

}
.card .card-body .nav .nav-item .active{
    background-color: aliceblue;
    border-radius: 10px;
    
}
.btn-offcanvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ms-6{
    margin-left: -45px;
    margin-top: 10px;
    font-size: 10px;
}


@media(max-width: 1020px) {
    .card-header {
       padding-top: 1rem!important
   }
    .offcanvas-header {
       position: relative
   }
    .offcanvas-header .btn-close {
       position: absolute;
       z-index: 2000;
       right: 8px;
       top: 8px;
   }
}
